@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "poppins", Helvetica, sans-serif;
}

main {
    .pokemon {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 1rem;
        place-items: center;
        width: fit-content;
        background-color: #f0f0f0;
        border: 2px solid black;
        border-radius: 15px;
        padding: 1rem 2rem;
        margin: 0 auto;
        color: #000000;

        .pokemon-name {
            font-weight: bold;
            font-size: xx-large;
        }

        .pokemon-picture {
            display: grid;
            place-items: center;

            .pokemon-image {
                background-color: #fcf3c0;
                width: 300px;
                aspect-ratio: 1;
                border: 2px solid black;
                border-radius: 15px;
                margin: 0 auto;
            }
        }

        .pokemon-types {
            list-style: none;
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: subgrid;
            grid-gap: 1rem;

            li {
                background-color: yellowgreen;
                width: 8ch;
                border-radius: 5px;
                padding: 0.2rem;
                text-align: center;
            }
        }

        .pokemon-description {
            background-color: #fcf3c0;
            width: 300px;
            height: calc(5lh + 1rem);
            overflow-y: scroll;
            padding: 1rem;
            border: 2px solid black;
            border-radius: 15px;
        }

        .pokemon-id {
            display: grid;
            place-items: center;
            color: white;
            background-color: red;
            width: 5ch;
            height: 5ch;
            border: 2px solid black;
            border-radius: 50%;
        }
    }
}
