* {
    font-family: Arial, Helvetica, sans-serif;
}

.pokemon{
    display: grid;
    margin-top: 30px;
    padding: 20px 0;
    background-color: #f0f0f0;
    border: 2px solid black;
    border-radius: 20px;
    grid-template-areas:
            "title"
            "picture"
            "type"
            "description"
            "id";
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
}

.pokemon-name{
    color: #000000;
    grid-area: title;
    font-weight: bold;
    font-size: 1.5rem;
    align-self: center;
    max-width: 475px;
}

.pokemon-picture{
    grid-area: picture;
    
}

.pokemon-types{
    grid-area: type;
    display: flex;
    align-self: flex-start;
    max-width: 475px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #ff5733;
}

.pokemon-description{
    grid-area: description;
    align-self: center;
    max-width: 475px;
    font-size: 0.875rem;
    font-style: italic;
    color: #555555;
}

.pokemon-id{
    grid-area: id;
    align-self: center;
    max-width: 475px;
    font-size: 12px;
    font-weight: normal;
    color: #999999;

}

img {
    border: 2px solid #ffd700;
    border-radius: 20px;
    width: 25rem;
}